<div class="container">
        <h4>Welcome to Competency Page</h4>

        <table class="table table-bordered">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Request Number</th>
                    <th scope="col">No. of Developers</th>
                    <th scope="col">Technology</th>
                    <th scope="col">Job Description</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th colspan="2">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let Request of CompetencyRequests">
                    <td>{{Request.id}}</td>
                    <td>{{Request.numOfDevelopers}}</td>
                    <td>{{Request.technology}}</td>
                    <td>{{Request.jobDescription}}</td>
                    <td>{{Request.startDate | date}}</td>
                    <td>{{Request.endDate | date}}</td>
                    <td>
                        <button class="btn btn-info" (click)="CloseRequest(Request)">Close Request</button>
                    </td>
                  </tr>
              </tbody>
        </table>
</div>